
.cm-tag-P{
    background-color: rgba(165, 29, 43, 0.5);
    font-size: 8pt;
    font-weight: 700;
    color: rgb(232, 230, 227);
  }

.cm-tag-S{
    background-color: rgba(29, 99, 165, 0.5);
    font-size: 8pt;
    font-weight: 700;
    color: rgb(232, 230, 227);
  }

.cm-tag-A{
    background-color: rgba(29, 165, 29, 0.5);
    font-size: 8pt;
    font-weight: 700;
    color: rgb(232, 230, 227);
  } 


/* Examples 

.tag[href="#Evergreen/Seedling"] {
    font-size: 0;
    padding: 0;
  }
  .tag[href="#Evergreen/Seedling"]:after {
    font-size: 8pt;
    font-weight: 700;
    background-color: rgb(165, 29, 42);
    color: rgb(232, 230, 227);
    padding: 3px 3px;
    border-radius: 3px;
    letter-spacing: -0.00ch;
    content: "🌱 SEEDLING";
  }
  
  .tag[href="#Evergreen/Sapling"] {
    font-size: 0;
    padding: 0;
  }
  .tag[href="#Evergreen/Sapling"]:after {
    font-size: 8pt;
    font-weight: 700;
    background-color: rgb(200, 150, 0);
    color: rgb(232, 230, 227);
    padding: 3px 3px;
    border-radius: 3px;
    content: "🪵 SAPLING";
  }
  
  .tag[href="#Evergreen/Evergreen"] {
    font-size: 0;
    padding: 0;
  }
  .tag[href="#Evergreen/Evergreen"]:after {
    font-size: 8pt;
    font-weight: 700;
    background-color: rgb(32, 134, 55);
    color: rgb(232, 230, 227);
    padding: 3px 3px;
    border-radius: 3px;
    content: "🌲 EVERGREEN";
  }


tag {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: 11px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}
.tag:hover {
color: white;
background-color: var(--text-accent-hover);
}
.tag[href^="#obsidian"] {
  background-color: #4d3ca6;
}
.tag[href^="#important"] {
  background-color: red;
}
.tag[href^="#complete"] {
  background-color: green;
}
.tag[href^="#inprogress"] {
  background-color: orange;
}


  */